debug*
vendor/
.idea/
logs/
*.log*
.DS_Store
*.tar*
*.zip
binary
binary_test
go.sum
*.pem

console/assets/
dist/
explorer/connection-profile/first-network.json
network/config/configtx.yaml
network/cryptos/
network/channels/
.lastrun