debug*
vendor/
dist/
.idea/

logs/
*.log*

network/cryptos/
network/channels/
data/
docker.sock

.DS_Store
*.tar*
*.zip
binary
binary_test

go.sum
*.pem
explorer/connection-profile/first-network.json
network/config/configtx.yaml
.lastrun